<nav class="p-4 border border-b-1">
    <div class="container mx-auto flex flex-col md:flex-row items-center justify-between">
      <div class="text-2xl font-bold mb-2 md:mb-0">
        <a routerLink="/" class="hover:text-gray-400">StepBook</a>
      </div>
      <div class="relative">
        <input type="text" placeholder="Rechercher..." #searchQuery (input)="onSearch(searchQuery.value)" class="lg:w-96 p-4 pr-10 rounded bg-gray-300 text-gray-500 placeholder-gray-400" />
        <svg class="absolute right-2 top-1/2 transform -translate-y-1/2 text-white" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="gray">
          <path d="M23.707 22.293l-6.81-6.81a8.942 8.942 0 0 0 1.446-4.954C18.343 5.797 14.546 2 10 2S1.657 5.797 1.657 10c0 4.203 3.797 7.99 8.943 7.99a8.942 8.942 0 0 0 4.954-1.446l6.81 6.81a1 1 0 0 0 1.414-1.414zm-13.56-6.218a6.968 6.968 0 0 1-4.232-1.208A6.98 6.98 0 0 1 4.97 10c0-3.866 3.134-7 7-7s7 3.134 7 7-3.134 7-7 7z" />
        </svg>
      </div> 
      <div class="flex flex-col md:flex-row space-y-2 md:space-y-0 md:space-x-4">
          <a routerLink="/profile" class="hover:text-gray-400">Profil</a>
          <a routerLink="/wishlist" class="hover:text-gray-400">Wishlist</a>
          <a routerLink="/login" class="hover:text-gray-400">Se connecter</a>
          <a routerLink="/register" class="hover:text-gray-400">S'inscrire</a>
      </div>
    </div>
  </nav>